process {
    cpus   = 2
    memory = '8 GB'
    time   = '4h'
    shell  = ['/bin/bash', '-euo', 'pipefail']


    withName: SCRNA_GEO_SUPP_DOWNLOAD {
        cpus = 1
        memory = '4 GB'
        time = '12h'
    }

    withName: SCRNA_RESOLVE_RAW_FILES {
        cpus = 1
        memory = '2 GB'
        time = '1h'
    }

    withName: SCRNA_DETECT_RAW_SOURCE {
        cpus = 1
        memory = '4 GB'
        time = '1h'
    }

    withName: SCRNA_UNPACK_RAW_UMI {
        cpus = 1
        memory = '8 GB'
        time = '6h'
    }

    withName: SCRNA_UNPACK_10X {
        cpus = 1
        memory = '8 GB'
        time = '6h'
    }

    withName: SCRNA_BUILD_MAINLINE_INPUT {
        cpus = 2
        memory = '16 GB'
        time = '6h'
    }

    withName: SCRNA_PREPARE_INPUT {
        cpus = 1
        memory = '8 GB'
        time = '2h'
    }

    withName: SCRNA_QC_INTEGRATION {
        cpus = 4
        memory = '32 GB'
        time = '24h'
    }

    withName: SCRNA_CLUSTER_SCAN {
        cpus = 4
        memory = '24 GB'
        time = '12h'
    }

    withName: SCRNA_ANNOTATION_PREPARE {
        cpus = 4
        memory = '32 GB'
        time = '24h'
    }

    withName: SCRNA_ANNOTATION_APPLY {
        cpus = 2
        memory = '16 GB'
        time = '8h'
    }

    withName: SCRNA_CELL_ENRICHMENT {
        cpus = 2
        memory = '8 GB'
        time = '4h'
    }

    withName: SCRNA_KEYGENE_ANALYSIS {
        cpus = 2
        memory = '16 GB'
        time = '6h'
    }

    withName: SCRNA_KEY_CELL_SELECT {
        cpus = 1
        memory = '4 GB'
        time = '1h'
    }

    withName: SCRNA_CELLCHAT {
        cpus = 4
        memory = '32 GB'
        time = '24h'
    }

    withName: SCRNA_SUBSET_PREPARE {
        cpus = 4
        memory = '24 GB'
        time = '12h'
    }

    withName: SCRNA_SUBSET_APPLY {
        cpus = 2
        memory = '16 GB'
        time = '8h'
    }

    withName: SCRNA_SUBSET_ANNOTATION_PREPARE {
        cpus = 4
        memory = '32 GB'
        time = '24h'
    }

    withName: SCRNA_PSEUDOTIME_MONOCLE {
        cpus = 4
        memory = '32 GB'
        time = '24h'
    }

    withName: SCRNA_PSEUDOTIME_ORDERING_TARGET {
        cpus = 4
        memory = '32 GB'
        time = '24h'
    }

    withName: SCRNA_SCMETABOLISM {
        cpus = 4
        memory = '32 GB'
        time = '24h'
    }

    withName: SCRNA_SCMETABOLISM_SPECIFIC {
        cpus = 4
        memory = '32 GB'
        time = '24h'
    }

    withName: SCRNA_GSVA {
        cpus = 4
        memory = '32 GB'
        time = '24h'
    }

    withName: SCRNA_REACTOME_GSA {
        cpus = 4
        memory = '32 GB'
        time = '24h'
    }

}

timeline {
    enabled = true
    file = "${params.run_dir}/pipeline_info/timeline.html"
    overwrite = true
}

report {
    enabled = true
    file = "${params.run_dir}/pipeline_info/report.html"
    overwrite = true
}

trace {
    enabled = true
    file = "${params.run_dir}/pipeline_info/trace.txt"
}

dag {
    enabled = true
    file = "${params.run_dir}/pipeline_info/dag.mmd"
    overwrite = true
}
